$color-1: #000000; // Black
$color-2: #ffffff; // white
$color-3: #f4f9fc; // Light Green
$color-4: #14ceb5; // Dark Green
$color-5: #696a8c; // Blue Text
$color-6: #617dff; // Blue light
$color-7: #ffcc00; // Yellow

$text-color: #333333;

$box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.3);
