
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
	@extend .font-poppins;
}

h1,h2 {
	font-size: 52px;
	color: $color-1;
	line-height: 52px;
	font-weight: 900;
}

h3 {
	font-size: 22px;
	color: $color-1;
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
}

p, li {
	font-size: 14px;
	line-height: 26px;
	color: $color-1;
	font-weight: 400;
}

.small-text {
	font-size: 14px;
}
